In [1]:
import pandas as pd
import numpy as np

In [13]:
file = pd.read_csv("clean.csv")

In [14]:
bad_text = file['Text'].tolist()

In [18]:
len(bad_text)

46580

In [37]:
good_text = final_text.split(".")

In [50]:
word_bad=[]
for x in range(len(bad_text)):
    word_bad.append("bad")

In [55]:
data = pd.DataFrame(bad_text,columns=["text"])

In [57]:
data["class"] = word_bad

In [58]:
data

                                                    text class
0                 call sis im boy girl still faggot shut   bad
1                               legit nilas retarded idk   bad
2                                           said retard    bad
3      america another 8 years obamas ideology via hi...   bad
4                              don fucking made cry twat   bad
...                                                  ...   ...
46575  yous muthafin lie 8220   right tl trash 8230 n...   bad
46576    gone broke wrong heart baby drove redneck crazy   bad
46577  young buck wanna eat dat nigguh like aint fuck...   bad
46578                  youu got wild bitches tellin lies   bad
46579  ruffled  ntac eileen dahlia  beautiful color c...   bad

[46580 rows x 2 columns]

In [61]:
word_good=[]
for x in range(len(good_text)):
    word_good.append("good")

In [70]:
new_df = pd.DataFrame(good_text[0].tolist(),columns=["text"])

In [71]:
new_df["class"]=word_good

In [72]:
new_df

                                                   text class
0     Mason's decision to leave the team as an undra...  good
1      He had been eyeing the Rams, particularly his...  good
2      Mason was at a very young age when the 49ers ...  good
3                I've been thinking this for the last 2  good
4                                              20 years  good
...                                                 ...   ...
999    Man beast said may creepeth that fifth give a...  good
1000   Can't may divide isn't appear Upon spirit lan...  good
1001         Whales rule second they're won't good were  good
1002                                        Isn't shall  good
1003                                                     good

[1004 rows x 2 columns]

In [73]:
new_data = data.append(new_df,ignore_index=True)

In [74]:
new_data

                                                    text class
0                 call sis im boy girl still faggot shut   bad
1                               legit nilas retarded idk   bad
2                                           said retard    bad
3      america another 8 years obamas ideology via hi...   bad
4                              don fucking made cry twat   bad
...                                                  ...   ...
47579   Man beast said may creepeth that fifth give a...  good
47580   Can't may divide isn't appear Upon spirit lan...  good
47581         Whales rule second they're won't good were  good
47582                                        Isn't shall  good
47583                                                     good

[47584 rows x 2 columns]

In [75]:
new_data.to_csv("finaldata.csv")